.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  &:hover {
    background-color: var(--surface-100);
    color: var(--primary-color);
  }

  &.active-link {
    background-color: var(--primary-100);
    color: var(--primary-color);
    font-weight: 600;
  }
}
